/* General styles */
.row {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: black !important;
  font-weight: 700;
}

.form-control:focus {
  border-color: #90bf33 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
}

.row {
  margin: 0 !important;
}
/* End of general styles */

/* Header styles */

header {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.header-icons a {
  margin-left: 2em;
}

.header-icons .cart-number {
  position: absolute;
  right: 8em;
  bottom: 1em;
  font-size: 1.2em;
  font-weight: 700;
  background-color: #90bf33;
  width: 1em;
  border-radius: 0.5em;
  text-align: center;
}

.header-icons .search-button {
  font-weight: 700;
}

.header-icons .search-button:hover {
  border-color: #90bf33;
}

.header-icons .clear-cross {
  position: absolute;
  top: 0.48em;
  right: 0.5em;
  cursor: pointer;
}

/* End of header styles */

.menu-wrap {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  height: 100%;
  width: 20em;
  margin-left: 22em;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  transition: .25s;
  z-index: 10;
}

.shadow-hide {
  box-shadow: 0;
}

.shadow-overlay {
  box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
  z-index: 6666;
}

.menu-show {
  margin-left: 1.5em;
}

.search-form input {
  width: 100%;
  height: 3em;
  padding-left: 10px;
}

.search-form input:focus {
  border-bottom: 0.3em solid #90bf33;
}

#sidebar {
  top: 3.5em;
  position: fixed;
}

.categories {
  padding-top: 0.5em;
}

.category-item {
  padding: 1em;
  border-radius: 0.5em;
}

.category-item:not(:first-child) {
  margin-top: 0.5em;
}

.category-item:hover {
  background-color: #90bf33;
  transition: 0.4s all;
}

.category-item:hover a{
  color: white !important;
  transition: 0.3s all;
}

.categories .active {
  background-color: #90bf33;
}

.categories .active a {
  color: white !important;
}

#main-content {
  margin-top: 3.5em;
  margin-left: 13em;
  padding-top: 2em;
  width: 100%;
  transition: 0.5s all;
}

#main-content .content-header .right-column {
  background-color: #90bf33;
  color: white;
  padding-top: 1.5em;
  padding-left: 4.6em;
  padding-right: 4.6em;
}

#main-content .content-header .right-column p {
  font-size: 1.6em;
  margin-top: 1em;
  padding-top: 1em;
}

#main-content .hot-goods {
  margin-top: 2em;
}

#main-content .hot-goods .row:not(:first-child) {
  padding-top: 2em;
}

#main-content .all-offers {
  margin-top: 5em;
}

#main-content .all-offers .row {
  padding-top: 2em;
}

footer {
  height: 6em;
  padding-top: 2em;
}
