{% for banner in banners %}
<div class="item" style="background-image: url({{ banner.image }});">
    <div class="container-fluid">
        <div class="caption vertical-center text-left">
            <div class="big-text fadeInDown-1">
                {{ banner.title }}
            </div>

            <div class="button-holder fadeInDown-3">
                <a href="{{ banner.link }}" class="big le-button ">Купить сейчас!</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}