<div id="search" class="control-group">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-field" />
    <button type="button" class="search-button"></button>
</div>